/* This file is for your main application css. */

.stuff {
  display: block;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

.cell-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 0.25em;
  width: 1em;
  height: 1em;
  background-color: skyblue;
}

.cell--empty {
  background-color: black;
}

.cell--full {
  background-color: teal;
}
