/* This file is for your main application css. */

.cell-row {
  display: flex;
  flex-direction: row;
}

.cell-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 0.03125em;
  width: 0.25em;
  height: 0.25em;
}

.cell--empty {
  background-color: black;
}

.cell--full {
  background-color: white;
}
